.topnav .dropdown .dropdown-menu {
    min-width: 12rem;
}
.sidenav .sidenav-footer {
    height: 3rem;
}
.sidenav-menu {
    padding-top: 1rem;
}
.page-header-title {
    height: 30px;
}

/*.dataTable-selector {
    padding: 0.69rem 1.9rem 0.69rem 0.9rem;
    background-position: right 0.5rem center;
}
.btn:focus
.btn:active:focus,
.form-select:focus,
.form-control:focus {
    box-shadow: 0 0 8px 0 rgb(38 121 244 / 50%);
}
.form-select:focus,
.form-control:focus {
    border: 1px solid rgb(38 121 244 / 50%);
}*/
/* Custom */
.image-logo {
    display: block;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 10rem;
    margin: 0 auto;
}

.badge {
    vertical-align: middle
}

.badge-ativo {
    width: 35px;
}

.badge-filter {
/*    top: 15% !important;*/
    left: 30% !important;
    padding: 0.2rem !important;
}

.dataTable-top {
    padding: 0 !important;
}

.dataTable-selector
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 0 !important;
}

.dataTable-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dataTable-export {
    text-align: right !important;
    
}

.dataTable-bottom > nav:last-child {
    float: none;
}

    .dataTable-bottom::after {
        display: none;
    }

.data-ativo {
    max-width: 50px !important;
}

.data-action {
    max-width: 50px !important;
}

.required:after {
    content: " *";
    color: red;
}

select[name="datatablesSimple_length"] {
    background-position: right 0.3rem center;
    width: 3rem !important;
    padding: 0px 0px 0px 0.4rem;
    margin-bottom: -9px;
    height: 2.2rem;
}

.dataTables_length label {
    padding-bottom:9px;

}
.logo-sisres {
    opacity: 85%;
}

.alert {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 1%;
}